* {
	background: hsl(0, 0%, 98%);
	text-align: center;
}

.btn:hover {
	background: hsl(0, 0%, 25%);
	color: hsl(0, 0%, 98%);
}

.btn {
	font-family: 'Gill Sans', 'Verdana';
	font-weight: bold;
	text-decoration: none;
	outline: none;
	border: 2px solid hsl(0, 0%, 25%);
	color: hsl(0, 0%, 25%);
	text-align: center;
	padding: 8px;
	width: 150px;
}
.form-control {
	margin: 20px auto;
	font-family: 'Gill Sans', 'Verdana';
	font-weight: bold;
	padding: 8px;
	outline: none;
	width: 150;
	text-decoration: none;
	border: 2px solid hsl(0, 0%, 25%);
}
/* navbar-brand is the main "albumArt" headline */

.navbar-brand {
	font-weight: lighter;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-size: 5rem;
	text-decoration: none;
	color: hsl(0, 0%, 19%);
}

html, body {
  height: 100%;
  width: 100%;
}
.aAcontainer {
	margin: 0px 100px 0px 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around | center;
}
.container {
	margin: 0 auto;
}
.albumArt {
	margin: 0 auto;
	display: flex;
	overflow: scroll;
}
.albumArt:hover {
	box-shad
}

.foot {
	font-family: 'Gill Sans', 'Verdana';
	font-weight: lighter;
	margin: 0 auto;
	height: 100px;
	width: 900px;
}
.fa {
	color: hsl(0, 0%, 19%);
	margin: 0px 8px 0px 8px;
	height: 30px;
	width: 30px;
}